<script context="module">
	export const prerender = true;

	import { gql, GraphQLClient } from 'graphql-request';

	export async function load({ params }) {
		const graphcms = new GraphQLClient(import.meta.env.VITE_GRAPHCMS_API_URL, {
			headers: {}
		});

		const query = gql`
			query MyQuery($slug: [Topic!]) {
				posts(where: { topics_contains_all: $slug }, orderBy: createdAt_DESC) {
					id
					title
					createdAt
					slug
				}
			}
		`;

		const variables = {
			slug: [params.slug]
		};

		const { posts } = await graphcms.request(query, variables);

		return {
			props: {
				slug: params.slug,
				posts
			}
		};
	}
</script>

<script>
	import Tile from '$lib/post-tile/tile.svelte';
	export let slug;
	export let posts;
</script>

<h1 class="mt-16 lg:mt-32 text-3xl md:text-4xl lg:text-5xl">Posts related to <em>{slug}</em></h1>

{#each posts as post}
	<Tile {post} />
{/each}

<style>
	h1 {
		font-weight: 400;
		margin-bottom: 4rem;
	}

	h1 em {
		background: linear-gradient(to right, theme('colors.primary'), theme('colors.secondary'));
		font-style: normal;
		font-weight: 700;
		text-transform: uppercase;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
</style>
