<script>
	import Header from '$lib/header/header.svelte';
	import '../app.css';
    import '../lib/utils/prismjs/prism.js';
    import '../lib/utils/prismjs/prism.css';
    import '../lib/utils/prismjs/prism-night-owl.css';
</script>

<Header />

<main class="Container Container--main">
	<slot />
</main>

<footer class="Container flex justify-end max-w-[1100px] w-full text-sm text-right mt-10 mx-auto py-6">
    <p>Built with: <a href="https://kit.svelte.dev" target="_blank">SvelteKit</a>, <a href="https://graphcms.com" target="_blank">GraphCMS</a>, <a href="https://tailwindcss.com" target="_blank">Tailwind CSS</a> and <a href="https://prismjs.com" target="_blank">PrismJS</a></p>
</footer>
