<script context="module">
	export const prerender = true;

	import { gql, GraphQLClient } from 'graphql-request';

	export async function load() {
		const graphcms = new GraphQLClient(import.meta.env.VITE_GRAPHCMS_API_URL, {
			headers: {}
		});

		const query = gql`
			query PostsIndex {
				posts(orderBy: createdAt_DESC) {
					title
					slug
					intro
					content
					topics
					createdAt
				}
			}
		`;

		const { posts } = await graphcms.request(query);

		let topics = [];
		posts.forEach((post) => {
			topics.push(...post.topics);
		});

		return {
			props: {
				posts,
				topics
			}
		};
	}
</script>

<script>
	import Tile from '$lib/post-tile/tile.svelte';
	export let posts;
	export let topics;
</script>

<svelte:head>
	<title>Tomasz Uzarowski | web-developer | uzarowski.pl</title>
</svelte:head>

<header class="Hero">
	<h1 class="font-bold text-4xl md:text-6xl text-center mb-4 mt-16 lg:mt-32">Tomasz Uzarowski</h1>
	<p class="text-center">web developer</p>
</header>

<main class="grid grid-cols-1 md:grid-cols-2 gap-10 md:gap-20 mt-20">
	<div class="RecentPosts">
		<h3 class="bordered uppercase mb-6">Recent posts</h3>

		<div class="RecentPosts__container">
			{#each posts as post}
				<Tile {post} />
			{/each}
		</div>
	</div>

	<div class="Topics">
		<h3 class="bordered uppercase mb-8">Topics</h3>

		{#each topics as topic}
            <a sveltekit:prefetch href="/topic/{topic}" class="font-bold text-base uppercase mb-4 lg:mb-0 mr-4 last:mr-0 before:hidden"><span>{topic}</span></a>
		{/each}
	</div>
</main>

<style>
	.Hero h1 {
		background: linear-gradient(to right, theme('colors.primary'), theme('colors.secondary'));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
</style>
