<script context="module">
	export const prerender = true;

	import { gql, GraphQLClient } from 'graphql-request';

	export async function load({ params }) {
		const graphcms = new GraphQLClient(import.meta.env.VITE_GRAPHCMS_API_URL, {
			headers: {}
		});

		const query = gql`
			query Post($slug: String!) {
				post(where: { slug: $slug }) {
					content
					createdAt
					intro
					title
					topics
				}
			}
		`;

		const variables = {
			slug: params.slug
		};

		const { post } = await graphcms.request(query, variables);

		return {
			props: {
				post
			}
		};
	}
</script>

<script>
	import SvelteMarkdown from 'svelte-markdown';
	import parseDate from '$lib/utils/dataParser.js';

	export let post;

	const source = post.content;
	const createdAtObj = parseDate(post?.createdAt);
</script>

<svelte:head>
	<title>{post.title} | Tomasz Uzarowski | uzarowski.pl</title>
</svelte:head>

<div class="mt-16 lg:mt-32">
	<h1 class="bordered text-3xl md:text-4xl lg:text-5xl text-center !leading-snug font-bold mb-12 pb-4">
		{post.title}
	</h1>

	<div class="flex flex-col md:flex-row items-center justify-between text-sm mb-10">
		{`Published on: ${createdAtObj.day} | ${createdAtObj.month} | ${createdAtObj.year}`}

		{#if post?.topics}
			<div class="Topics mt-4 md:mt-0">
				{#each post.topics as topic}
					<a
						href="/topic/{topic}"
						sveltekit:prefetch
						class="font-bold text-base uppercase mb-4 md:mb-0 mr-4 last:mr-0 before:hidden"
                        ><span>{topic}</span></a
					>
				{/each}
			</div>
		{/if}
	</div>

	{#if post?.intro}
		<div class="my-10 text-2xl max-w-[700px] mx-auto">{post.intro}</div>
	{/if}

	<div class="max-w-[700px] mx-auto SinglePostContent">
		<SvelteMarkdown {source} />
	</div>
</div>
