<nav class="Container flex justify-end pt-6 font-bold uppercase text-sm">
	<a href="/" class="mr-10">Home</a>
	<a href="https://twitter.com/tomuzarowski" target="_blank">Twitter</a>
	<!--    <a href="/about">About me</a>-->
</nav>

<style>
	a {
		color: var(--text);
	}
</style>
