<script>
	import parseDate from '$lib/utils/dataParser.js';
	export let post;
	const createdAtObj = parseDate(post?.createdAt);
	const year = createdAtObj.year.slice(2);
</script>

<a sveltekit:prefetch href="/posts/{post.slug}" class="PostTile">
	<p class="PostTile__created-at">
		<svg
			height="48px"
			id="Layer_1"
			viewBox="0 0 48 48"
			width="48px"
			xml:space="preserve"
			xmlns="http://www.w3.org/2000/svg"
			xmlns:xlink="http://www.w3.org/1999/xlink"
			><path
				clip-rule="evenodd"
				d="M43,43H5c-2.209,0-4-1.791-4-4V9c0-2.209,1.791-4,4-4h38c2.209,0,4,1.791,4,4v30  C47,41.209,45.209,43,43,43z M45,9c0-1.104-0.896-2-2-2H5C3.896,7,3,7.896,3,9v6h42V9z M45,17H3v22c0,1.104,0.896,2,2,2h38  c1.104,0,2-0.896,2-2V17z M41,31h-2c-0.552,0-1-0.447-1-1v-2c0-0.552,0.448-1,1-1h2c0.553,0,1,0.448,1,1v2  C42,30.553,41.553,31,41,31z M41,24h-2c-0.552,0-1-0.447-1-1v-2c0-0.553,0.448-1,1-1h2c0.553,0,1,0.447,1,1v2  C42,23.553,41.553,24,41,24z M33,31h-2c-0.552,0-1-0.447-1-1v-2c0-0.552,0.448-1,1-1h2c0.553,0,1,0.448,1,1v2  C34,30.553,33.553,31,33,31z M33,24h-2c-0.552,0-1-0.447-1-1v-2c0-0.553,0.448-1,1-1h2c0.553,0,1,0.447,1,1v2  C34,23.553,33.553,24,33,24z M25,31h-2c-0.553,0-1-0.447-1-1v-2c0-0.552,0.447-1,1-1h2c0.553,0,1,0.448,1,1v2  C26,30.553,25.553,31,25,31z M25,24h-2c-0.553,0-1-0.447-1-1v-2c0-0.553,0.447-1,1-1h2c0.553,0,1,0.447,1,1v2  C26,23.553,25.553,24,25,24z M17,38h-2c-0.553,0-1-0.447-1-1v-2c0-0.553,0.447-1,1-1h2c0.553,0,1,0.447,1,1v2  C18,37.553,17.553,38,17,38z M17,31h-2c-0.553,0-1-0.447-1-1v-2c0-0.552,0.447-1,1-1h2c0.553,0,1,0.448,1,1v2  C18,30.553,17.553,31,17,31z M17,24h-2c-0.553,0-1-0.447-1-1v-2c0-0.553,0.447-1,1-1h2c0.553,0,1,0.447,1,1v2  C18,23.553,17.553,24,17,24z M9,38H7c-0.553,0-1-0.447-1-1v-2c0-0.553,0.447-1,1-1h2c0.553,0,1,0.447,1,1v2C10,37.553,9.553,38,9,38  z M9,31H7c-0.553,0-1-0.447-1-1v-2c0-0.552,0.447-1,1-1h2c0.553,0,1,0.448,1,1v2C10,30.553,9.553,31,9,31z M23,34h2  c0.553,0,1,0.447,1,1v2c0,0.553-0.447,1-1,1h-2c-0.553,0-1-0.447-1-1v-2C22,34.447,22.447,34,23,34z"
				fill-rule="evenodd"
			/></svg
		>
		<span>{createdAtObj.day}</span><span>{createdAtObj.month}</span><span>{year}</span>
	</p>
	<h4 class="PostTile__title font-bold">{post.title}</h4>
</a>

<style>
	.PostTile {
		align-items: flex-start;
		color: var(--text);
		display: flex;
		flex-direction: column;
		padding: 15px 25px 45px;
		position: relative;
	}

	.PostTile:hover .PostTile__title {
		color: theme('colors.primary');
	}

	.PostTile::before {
		background-image: linear-gradient(to right, theme('colors.primary'), theme('colors.secondary'));
		bottom: -2px;
		content: '';
		height: 2px;
		left: 0;
		position: absolute;
		transition: width 200ms ease-out;
		width: 100%;
	}

	.PostTile__created-at {
		align-items: center;
		display: flex;
		font-size: calc(14px + 0.3vw);
		justify-content: flex-start;
		margin-bottom: 1rem;
	}

	.PostTile__created-at svg {
		fill: theme('colors.primary');
		height: 24px;
		margin-right: 20px;
		width: 24px;
	}

	.PostTile__created-at span:not(:last-of-type) {
		border-right: 1px solid theme('colors.primary');
		margin-right: 10px;
		padding-right: 10px;
	}

	.PostTile__title {
		font-size: calc(22px + 0.4vw);
		margin-top: 1rem;
		transition: color 200ms linear;
	}
</style>
