@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--text: theme('colors.textLight');
}

@media (prefers-color-scheme: dark) {
	:root {
		--text: theme('colors.textDark');
	}
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: theme('colors.bgLight');
	color: theme('colors.textLight');
	font-family: 'Miriam Libre', sans-serif;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: theme('colors.bgDark');
		color: theme('colors.textDark');
	}
}

a {
	color: theme('colors.primary');
	display: inline-block;
	position: relative;
	text-decoration: none;
	transition: color 300ms linear;
}

a:hover::before,
a:focus::before {
	width: 100%;
}

a::before,
a:visited::before {
	background-image: linear-gradient(to right, theme('colors.primary'), theme('colors.secondary'));
	bottom: -2px;
	content: '';
	height: 2px;
	left: 0;
	position: absolute;
	transition: width 200ms ease-out;
	width: 0;
}

.bordered {
	position: relative;
}

.bordered::before {
	background-image: linear-gradient(to right, theme('colors.primary'), theme('colors.secondary'));
	bottom: -2px;
	content: '';
	height: 2px;
	left: 0;
	position: absolute;
	transition: width 200ms ease-out;
	width: 100%;
}

.Container {
	@apply mx-auto px-8 lg:px-0 max-w-[1100px] w-full;
}

.SinglePostContent p {
    @apply mb-4 last:mb-0;
}

.Topics a {
    background-image: linear-gradient(to right, theme('colors.primary'), theme('colors.secondary'));
    border-radius: 30px;
    display: inline-block;
    padding: 8px 5px;
    position: relative;
    z-index: 5;
}

.Topics a span {
    background-color: theme('colors.bgLight');
    border-radius: 30px;
    color: theme('colors.textLight');
    padding: 5px 15px;
}

@media (prefers-color-scheme: dark) {
    .Topics a span {
        background-color: theme('colors.bgDark');
        color: theme('colors.textDark');
    }
}
